.site-main {
	a {
		color: #8A0000;
		text-decoration: none;

		&:hover {
			transform: scale(1.03);
		}

		&:hover,
		&:focus,
		&:active {
			color: #c80000;
		}
	}
}

.services-menu, .products-menu {
	list-style-type: none;
	padding: 0;
	text-align: center; 
  
	article {
	  display: inline-block;
	  margin: 10px;
	  transition: transform 0.3s ease-in-out; 
  
	  a {
		text-decoration: none;
		display: block;
		
		h3 {
		  margin: 0;
		  font-weight: bold;
		}
	  }
	}
  }
  
.blog-menu {

	margin-bottom: 20px;

	article {

		&:hover {
			transform: scale(1.03);
		}
		&:hover {
			h3{
			transform: scale(1.03);
			color: #c80000; // Change the text color on hover
			}
		}
		a {
			text-decoration: none;
			color: #333;
			
		}
  
		h3 {
			font-size: 1.3rem;
			color: #8A0000;
			
			margin-bottom: 10px;
		}
	}
}

  .fithub-teampage .team-page {

		a {
			display: block;
			text-decoration: none;

			&:hover {
				transform: scale(1.03);
			}
		}
  }
   